:root {
  --color-primario: #333333;
  --color-claro: #FFFFFF;
  --color-secundario: #8841da;
  --color-variacion: #012179;
  --color-variacion2: #333333;
  --color-caja: #FFFFFF;
  --CARD_BG_ACTIVE: hsl(227, 47%, 94%);
  --BG: hsl(0, 0%, 100%);
  --DARKTEXT_HOVER: hsla(230, 14%, 8%, 0.11);
  --MODE_CHECK: #8841da9f;
}
.darkTheme {
  --color-primario: #FFFFFF;
  --color-claro: #333333;
  --color-secundario: #1b2a32;
  --color-variacion: #FFFFFF;
  --color-variacion2: #8841da;
  --color-caja: #8841da;
  --CARD_BG_ACTIVE: hsl(228, 28%, 25%);
  --BG: hsl(230, 17%, 14%);
  --DARKTEXT_HOVER: hsl(0, 0%, 100%);
  --MODE_CHECK: linear-gradient(hsl(210, 78%, 56%), hsl(276, 68%, 55%));
}
.sombra-caja {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
}
.Oswald {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: var(--color-primario);
  background-color: var(--color-claro);
  font-size: 18px;
  line-height: 28px;
}
h1,
h2,
h3 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.darkmode {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
}
.darkmode__text {
  padding-top: 3px;
  color: var(--color-variacion2);
}
.darkmode__switch {
  width: 1.4rem;
  height: 0.7em;
  border-radius: 50%;
}
.darkmode input {
  opacity: 0;
}
.darkmode__witch-div {
  text-align: right;
}
.darkmode__switch {
  margin-right: -10px;
}
.darkmode__div {
  font-weight: 600;
  margin-right: 70px;
  text-align: end;
}
.darkmode__div:hover {
  color: var(--DARKTEXT_HOVER);
}
.darkmode__slider-test {
  position: absolute;
  margin-top: 3px;
  border-radius: 1.3rem;
  cursor: pointer;
  top: 0;
  width: 3rem;
  height: 1.7rem;
  bottom: 0;
  background: var(--MODE_CHECK);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.darkmode__slider-test:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  left: 1.5rem;
  bottom: 0.15rem;
  background-color: var(--BG);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .darkmode__slider-test:before {
  -webkit-transform: translateX(-1.4rem);
  -ms-transform: translateX(-1.4rem);
  transform: translateX(-1.4rem);
}
.intro {
  width: 1340px;
  height: 650px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
  background-color: var(--color-caja);
}
.intro__imagen {
  width: 1320px;
  position: absolute;
}
.intro__imagen img {
  width: 100%;
  height: 624px;
  -o-object-fit: cover;
  object-fit: cover;
}
.intro__contenido {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 156px;
  left: 0;
  right: 0;
  text-align: center;
  color: #FFFFFF;
}
.intro__categoria {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}
.intro__titulo {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 60px;
}
.intro__autor {
  width: 150px;
  margin: 0 auto;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  color: #FFFFFF;
}
.intro__autor img {
  width: 60px;
  height: 50px;
  float: left;
  padding-right: 10px;
  border-radius: 10em;
}
.intro__autor span {
  display: inline-block;
}
.intro__autor-titulo {
  color: rgba(255, 255, 255, 0.5);
}
.articulo--principal {
  max-width: 660px;
  margin: 0 auto;
}
.articulo--principal__intro {
  font-size: 25px;
  line-height: 35px;
}
.articulo--principal h2 {
  margin: 40px 0 40px 0;
  color: var(--color-variacion2);
  text-align: center;
  font-size: 50px;
  line-height: 60px;
}
.articulo--principal h3 {
  color: #8841da;
}
.contenedor--cajas {
  width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.caja {
  max-width: 430px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
}
.caja__contenido {
  padding: 25px;
  background-color: var(--color-caja);
}
.caja span {
  color: #8841da;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.caja a {
  text-decoration: none;
  color: var(--color-variacion);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
