<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/ejercicio-pug.css" attr>
  </head>
  <body>
    <header>
      <h1>PlatziGames</h1><a class="boton">Registro</a>
    </header>
    <nav class="menu">
      <h2 class="menu__titulo">Menu</h2>
      <ul class="menu__links-container"></ul>
      <li>Acerca</li>
      <li>Noticias</li>
      <li>Contacto</li>
    </nav>
    <footer>
      <h1>PlatziGames</h1>
      <ul> 
        <li>Acerca</li>
        <li>Noticias</li>
        <li>Contacto</li>
      </ul>
    </footer>
  </body>
</html>