$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$color-primario: #333333;
$color-claro: #FFFFFF;
$color-secundario: #8841DA;
$color-variacion: #3f579a;

:root {
    --color-primario: #333333;
    --color-claro: #FFFFFF;
    --color-secundario: #8841da;
    --color-secundario2: #8340c7;
    --color-variacion: #012179;
    --color-variacion2: #333333;
    --color-variacion3: 255, 255, 255;
    --color-caja: #FFFFFF;
    --CARD_BG_ACTIVE: hsl(227, 47%, 94%);
    --BG: hsl(0, 0%, 100%);
    --DARKTEXT_HOVER: hsla(230, 14%, 8%, 0.11);
    --MODE_CHECK: #8841da9f;
}
.darkTheme {
    --color-primario: #FFFFFF;
    --color-claro: #333333;
    --color-secundario: #fffffffa;
    --color-secundario2: #333333;
    --color-variacion: #FFFFFF;
    --color-variacion2: #8841da;
    --color-variacion3: 1, 33, 121;
    --color-caja: #8841da;
    --CARD_BG_ACTIVE: hsl(228, 28%, 25%);
    --BG: #333333;
    --DARKTEXT_HOVER: hsl(0, 0%, 100%);
    --MODE_CHECK: linear-gradient(hsl(210, 78%, 56%), hsl(276, 68%, 55%));
}

@mixin caja {
    border-radius: 20px;
    box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.40);
    color: $color-primario;
    background-color: $color-claro;
}

@mixin titulos($fuente) {
    @if $fuente==$Fuente1 {
        font-family: $Fuente1;
    }@else {
        font-family: $Fuente2;
        text-transform: uppercase;
    }
}
@function get-opacity($color,$nivel){
    @return rgba($color,$nivel);
}
@each $header, $size in (h1: 30px, h2: 25px, h3: 20px){
    #{$header}{
        font-size: $size;
        margin: 0;
    }
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    @include titulos($Fuente1);
}

main {
    display: flex;
    width: 100%;
    background-color: var(--color-claro);
    height: 100%;
}