.articulos {
	width: 40%;
	padding: 50px 0 0 50px; 
}
.articulo {
	margin-bottom: 75px;
	border-bottom: 3px solid $color-secundario;
	&__categoria {
		font-weight: 500;
		@include font-size(14px);
		color: $color-secundario;
		@include titulos($Fuente2);
	}
	&__titulo {
		@include font-size(20px);
		color: var(--color-primario);
		@include titulos($Fuente2);
	}
	&__descripcion {
		@include font-size(18px);
		line-height: 30px;
		margin-bottom: 30px;
		padding-right: 100px;
		color: var(--color-primario);
	}
}

.articulo--principal {
	width: 100%;
	padding: 0 20% 0 20%;
	margin: 0 auto;
	color: var(--color-primario);
    background-color: var(--color-claro);
	&__intro {
		@include font-size(25px);
	}	
	h2 {
		padding: 40px 0 40px 0;	
		text-align: center;
		@include font-size(45px);
		color: var(--color-variacion2);
	}	
	h3 {
		color: $color-secundario;
		margin-bottom: 15px;
	}
}